@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to right, #A26A5E 0%, #EFDCBB 100%);
}
section{
    width: 70%;
    margin: 0 auto;
    box-shadow: 0px 0px 13px 7px rgba(201,164,141,1);
    background-color: white;
    border-radius: 15px;
    margin-top: 2em;
}

#image-container{
    width: 49%;
    display: inline-block;
}
#form-container{
    width: 40%;
    display: inline-block;
    float: right;
}
img{
    width: 69%;
    margin: 4em 0 4em 8em;
    position: relative;
    bottom: 1em;
}
form{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 2em;;
}
form h1{
    text-align: center;
    font-weight: normal;
    padding-bottom: 1em;
    margin-right: 3em;
}
label{
    margin-left: 3em;
}
.input-type{
    background: #E6E6E6;
    width: 53%;
    padding: 10px;
    border-radius: 18px;
    margin-bottom: 10px;
}
.input-type input{
    border: none;
    padding-left: 8px;
    background-color: #E6E6E6;
    outline: none;
}
i{
    color: #9F9F9F;
}
#radio-label{
    color: #9AA2B0;
}
#radio-label p{
    color: black;
}
#btn-submit{
    background: #8E6B52;
    border: navajowhite;
    width: 73%;
    color: white;
    border-radius: 50px;
    padding: 14px;
    margin-top: 3em;
    cursor: pointer;
    outline: none;
}
#forget-user-or-pass p{
    color: #9AA2B0;
}
#forget-user-or-pass a{
    text-decoration: none;
    color: #7E7F7F;
}
#create-account a{
    color: #7E7F7F;
}